:root{
    --primary-color: rgb(33, 25, 81);
    --secondary-color: rgb(240, 243, 255);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.hero-header{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: poppins, sans-serif;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.toggle{
    position: fixed;
    right: 4%;
    top: 5%;
    color: #ffffff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #836FFF;
    border-radius: 50%;
    text-align: center;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.header-content .profile{
    height: 550px;
    width: 650px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 7px 5px 28px rgba(0,0,0,0.1);
}

.profile img{
    height: 740px;
    width: 550px;
    object-fit:cover;
}

.header-content .text-content{
    padding:2rem 3.5rem;
    margin: 1.2rem;
    color:var(--secondary-color);
    width: 80%;
}

.header-content .text-content h1{
    font-size: 3.5rem;
    color: rgb(21, 245, 186);
    position: relative;
    line-height: 3.6rem;
    margin-bottom: 1.5rem;
}

.header-content .text-content h1::before{
    content: "";
    background-color: rgb(21, 245, 186) ;
    position: absolute;
    top:25%;
    left:-6%;
    height: 5px;
    width: 30px;
    border-radius: 10px;
}

.header-content .text-content h1 span{
    color:var(--secondary-color);
}

.navigation .nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 0.8rem;
}

.navigation .nav a{
    position: relative;
    font-size: 18px;
    display: block;
    margin: 10px;
    transition: 0.5s;
    color: var(--secondary-color);
}

.navigation .nav a i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: rgb(131, 111, 255);
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
}

.navigation .nav .active{
    color: var(--secondary-color);
    background-color: rgb(21, 245, 186);

}

.navigation .nav a:hover i{
    background-color: rgb(21, 245, 186);
    color: var(--secondary-color);
}

.header-content .button{
    position: relative;
    width: 210px;
    min-height: 45px;
    line-height: 45px;
    overflow: hidden;
    border: 1px solid rgb(21, 245, 186);
    border-radius: 35px;
    margin: 2.5rem 0;
    color: var(--secondary-color);
    background-color: transparent;
}


